.avaliar-button {
    border: 2px solid #FFA90F;
    border-radius: 20px;
    color: #FFA90F;
    padding: 3px 20px;
    background-color: white;
}

.avaliar-button:hover {
    background-color: #FFA90F;
    color: white;
}