.modal-component{

    .header-modal-component{
        border: none;

        .close-button{
            width: 2rem;
            height: 2rem;
            font-size: 1.5rem;
        }

        .close-buton::before {
            transform: scale(1.5); 
          }
    }

    .content-modal-component{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .button-modal-component{
            align-self: center;
            background-color: #0065A3;
            font-weight: 700;
            width: 12rem;
        }
    }
}