.title-not-found-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: #0066BA;
    margin-top: 90px;
    margin-bottom: 300px;
    gap: 20px;
   
}

.not-found-layout{
    height: 100%;
}