.premiacao{
    .before-banner {
        gap: 3.125rem;
    }
    
    .content {
        padding: 4rem;
    }
    
    .btn {
        width: 15.625rem;
        height: 2.813rem;
        border-radius: 0.625rem;
    }
    
    .click {
        background-color: #FFA90F;
        color: white;
        border: none;
        box-shadow: 0 0.25rem 0.5rem #0000001a;
    
        &:hover {
            background-color: #E68A00;
            transform: translateY(-0.125rem);
        }
    }
    
    .unclick {
        background-color: white;
        color: #FFA90F;
        border: 0.125rem solid #FFA90F;
    
        &:hover {
            background-color: #FAFAFA;
            color: #FFA90F;
            border: 0.125rem solid #FFA90F;
            transform: translateY(-0.125rem);
        }
    }
}