# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_DB=wepgcomp
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
DATABASE_URL="postgresql://root:root@postgres:5432/wepgcomp"

JWT_SECRET=jwtsecret

MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=

ORGANIZER_EMAIL=wepgcompportal@gmail.com

QUEUE_URL=amqp://localhost

FRONTEND_URL=http://localhost:3000

S3_AWS_REGION=
S3_AWS_ACCESS_KEY_ID=
S3_AWS_SECRET_ACCESS_KEY=
S3_AWS_BUCKET_NAME=

# Upload Rate Limit
UPLOAD_RATE_LIMIT_TTL=300000000
UPLOAD_RATE_LIMIT_LIMIT=100
UPLOAD_RATE_LIMIT_BLOCKDURATION=500000
