.avalieApresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 300px;
}
.i{
    display: flex;
    align-items: start;
    justify-content: flex-start;
}
.avalieElementos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    border: solid;
    border-radius: 12px;
    border-color: #F17F0C;
    width: 800px;
    height: 90px;
    gap: 6px;
}
.avalieIdentificador{
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}
.avalieApresentador{
    font-size: 1.5rem;
    font-weight: bold;
}
.avaliePesquisa{
    font-size: 1.25rem;
}
.avaliePerguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.avalieQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avalieTexto{
    font-size: 20px;
}
.avalieButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 12px;
    border-color: #FFA90F;
    background-color: #FFA90F;
    color: white;
    width: 246px;
    height: 43px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 810px){
    .avalieElementos{
        width: 90%;
        height: 30%;
    }

    .avalieTexto{
        text-align: center;
        width: 95%;
    }
}