.input-title {
    font-size: 0.9rem;
}

input::placeholder {
    color: #ADB5BD !important;
}

.paragraph-title,
.list-title,
.error-message {
    font-size: 0.8rem;

}

.paragraph-title {
    color: #555555;
}


.submit-button {
    background-color: #FFA90F;

    &:hover {
        background-color: #FFA90F;
    }
}

.password-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 1px solid #e4e4e4;
    padding: 0 0.25rem;
    border-radius: 6px;

    .password{
        border: none;
    }
}
.eye{
    cursor: pointer;
}

@media (max-width: 1000px) {
    .form-label{
        font-size: 1.05rem !important;
    }

    .mt-5 {
        margin: 0 !important;
    }

    .mx-auto {
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }
}