.form-title {
    font-size: 1.25rem;
}

.input-title {
    font-size: 0.9rem;
}

.paragraph-title {
    font-size: 0.8rem;
    color: #555555;
}

.list-title {
    font-size: 0.8rem;
}

.error-message {
    font-size: 0.8rem;
}

.submit-button {
    background-color: #FFA90F;
}