.input-title {
    font-size: 0.9rem;
}

input::placeholder {
    color: #ADB5BD !important;
}

.paragraph-title,
.list-title,
.error-message {
    font-size: 0.8rem;

}

.paragraph-title {
    color: #555555;
}


.submit-button {
    background-color: #FFA90F;

    &:hover {
        background-color: #FFA90F;
    }
}

.password-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.eye{
    cursor: pointer;
}