.card-listagem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #F17F0C;
    border-radius: 10px;

    .card-listagem-text{
        color: black;
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        
        p:first-of-type{
            font-weight: 600;
        }

        p{
            margin-bottom: 0;
        }
    }

    button{
        margin: 1rem;
        width: min-content;
        border: none;
        background: none;
    }
}