.modal-ui-general{
  .modal-area-close {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #808080ba;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
  }

  .modal-content {
    width: 60vw;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #F17F0C;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-btn-close {
    position: relative;
    left: 94%;
    top: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  
  @media (max-width:480px) {
    .modal-content {
      width: 100vw;
    }
    .modal-btn-close {
      left: 88%;
    }
  }
}