h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #0066BA;
    margin-top: 90px;
    margin-bottom: 210px;
}
p{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}