.carousel-component{
    .lead {
        width: 100%;
    }
    p{
        text-align: justify;

        // @media (max-width: 576px) {
        //     font-size: 1rem;
        //     margin-bottom: 0.25rem;
        // }
    }

    .title{
        font-weight: 800;
        text-align: center;
    }

    .indicators-content{
        z-index: 3;
        position: relative;

        .indicators-buttons{
            border-radius: 50%;
            width: 15px; 
            height: 15px;
        }
    }

 

    .schedule-button {
        border-radius: 20px;
        border: 2px solid white;
        font-weight: 600;
    }

    .slide-2-content{
        display: flex;
        max-width: 70%; 

        .concept-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -75px;

            .concept-subtitle{
                margin-bottom: 2.5rem;
            }
    
            .five-subtitle{
                font-size: 8rem;
                font-weight: 900;
                line-height: 3rem;
            }
    
            .capes-subtitle{
                margin-top: 0.5rem;
            }
        }

        .info-subtitles{
            display: flex;
            flex-direction: column;
            margin-left: 3rem;

            // @media (max-width: 900px) {
            //     margin-left: 0;

            //     p:last-of-type{
            //         display: none;
            //     }
            //  }
        }

        // @media (max-width: 576px) {
        //    flex-direction: column; 

        //    .concept-content{
        //      display: none;
        //    }
        // }
    }
    
}


.carousel-slide{
    margin-bottom: 40px;

    .carousel-slide-content{
        width: 100vw;
        height: 80vh;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        padding: 1rem 2rem 4rem;

        .image-background{
            z-index: -1;
        }

        // @media (max-width: 2000px) {          
        //     height: 70vh;   
        // }
    }


    //   @media (max-width: 2800px) { 
    //         .shaddow-span  {
    //         height: 250px;
    //         bottom: 230px;
    //         right: 165px;
    //         border-radius: 60px;
    //         }
    //     }
}

.carousel-indicators {
    margin-top: 1rem;
}

@media (max-width:480px)  {
    .carousel-slide .carousel-slide-content {
        justify-content: flex-start !important;
    }

    .carousel-indicators {
        margin-top: .5rem;
    }

    .carousel-component p {
        text-align: left;
        
        font-size: 1rem;
    }

    .slide-2-content {
        max-width: 100% !important; 

        .concept-content {
            margin-top: 0px !important;
        }
    }
}

