h1 {
    font-size: 3rem;
    color: #0066BA;
}

h2 {
    font-size: 1.5rem;
}

hr {
    border-width: 0.125rem;
    border-color: #FFA90F;
    border-style: solid;
}

.link {
    font-size: 0.875rem;
}

a {
    color: blue;
}