h1 {
    font-size: 3rem;
    color: #0066BA;
}

.container {
    max-width: 654px;
}

hr {
    border-width: 0.12rem;
    border-color: #FFA90F;
    border-style: solid;
    max-width: 654px;
}

.link {
    font-size: 0.875rem;
}

a {
    color: blue;
}

.fixed-width {
    width: 100%;
    max-width: 583px; 
}

@media (max-width: 1000px) {
    h1 {
        font-size: 1.5rem;
    }
}