.cadastro{
    width: 100%;
    max-width: 680px;

    h1,
    h2 {
        font-size: 3rem;
    }
    
    h1 {
        color: #0066BA;
    }
    
    hr {
        border-width: 0.125rem;
        border-color: #FFA90F;
        border-style: solid;
    }
}

@media (max-width: 1000px) {
    .cadastro{
        h1,
        h2 {
            font-size: 1.5rem;
        }
    }
}