.pageApresentacao{
    h2 {
        font-size: 2.5rem;
    }
    
    h1 {
        color: #0066BA;
        font-weight: 800;
    }
    
    hr {
        border-width: 0.125rem;
        border-color: #FFA90F;
        border-style: solid;
    }
}