.minhas-bancas {
  margin: 0 200px;
  margin-bottom: 100px;

  h2 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #0066ba;
  }

  p {
    text-align: justify;
  }


  @media (max-width: 1024px) {
    margin: 0 100px;
    margin-bottom: 50px;
  }

  @media (max-width: 768px) {
    margin: 0 50px;
    margin-bottom: 25px;
  }

  @media (max-width: 480px) {
    margin: 0 20px;
    margin-bottom: 10px;
    
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
