ul {
    gap: 0.9rem;
}

.fixed {
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 100;
    height: 126px;
}

.header-placeholder {
    height: 126px;
}

.navbar-image {
    width: 350px !important;
}
.navbar-menu-itens {
    margin-right: 3rem;
}
.nav-wall{
    height: 40px;
}

@media (max-width:480px)  {
    
    
    .navbar-menu-itens {
        margin-right: 0 !important;
    }
    .vr {
        display: none;
    }
    .container-fluid {
        justify-content: center !important;
    }
}

@media (max-width: 445px) {
    .fixed {
        height: 180px;
    }
    
    .header-placeholder {
        height: 180px;
    }
}