.first-div {
    border: 0.063rem solid #F17F0C;
}

.first-title {
    line-height: 1.219rem;
}

.first-author {
    line-height: 1.75rem;
}

.second-author {
    line-height: 1.219rem;
}

.second-title {
    line-height: 1.75rem;
}