.premiacao{
    .title {
        color: #014B79;
    }
    
    .custom-border {
        border-color: #F17F0C !important;
        border-radius: 0.625rem;
    }
    
    .empty-list {
        color: #555555;
    }
}