.form-title {
    font-size: 1.05rem;
    color: #343A40;
}

.input-title {
    font-size: 0.875rem;
}

input::placeholder {
    color: #ADB5BD !important;
}

.link {
    font-size: 0.875rem;
    color: #090DF0;
}

.button-password{
    margin-top: 0.25rem;
    background: none;
    border: none;
    padding: 0;
}


.button-primary {
    background-color: #0065A3 !important;
    font-size: 1rem;
    width: 7.938rem;
    height: 2.375rem;

    &:hover {
        background-color: #0065A3 !important;
    }
}

hr {
    border-width: 0.120rem;
    border-color: #FFA90F;
    border-style: solid;
}